extends ../../layouts/default

block content
	.container
		.panel.panel-primary
			.panel-heading Forgot password?
			.panel-body
				.col-md-4
					form(role='form', action='/forgotpassword', method='POST')
						.form-group
							label.control-label(for='email') Email address:
							.input-icon
								input#email.form-control.email(placeholder='you@mail.com', name='email', type='email', value='')
						.form-group
							input.btn.btn-primary(value='Reset my password', type='submit')