extends ../../layouts/default

block content
	.container
		.panel.panel-primary
			.panel-heading Reset my Password
			.panel-body
				.col-md-4
					form(role='form', action='/resetpassword/'+key, method='POST')
						input(type='hidden', name='resetkey', value=key)
						input(type='hidden', name='_csrf', value=csrf_token_value)
						.form-group
							label.control-label(for='password') Password:
							.input-icon
								input#password.form-control.email(type='password', name='password', value='')
						.form-group
							label.control-label(for='password_confirm') Confirm Password:
							.input-icon
								input#password_confirm.form-control(type='password', name='password_confirm', value='')
						.form-group
							input.btn.btn-primary(type='submit', value='Reset')